header {

    .navbar {
        display: flex;

        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #171c25;
        border-bottom: 0.3px solid white;
        border-color: white
        color: #fff;
        height: 70px;


    }

    .Logo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }



    .nav-items {
        display: flex;
        gap: 1rem;
        align-items: center;
        list-style: none;
    }


    a,p {
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        min-width: 10px;

    }

    

}